# ETL
The ETL process for the "FIFA2014 - all players.csv" to check the data is valid, no missing records, in appropriate format and then transformed into multiple csv files that represents the nodes and relationships for graph database.

In [113]:
import pandas as pd

data_folder = "./data/"

# Read the csv file
fifa_data = pd.read_csv(f"{data_folder}FIFA2014 - all players.csv")

In [114]:
fifa_data.head()

,Player id,Player,Position,Number,Club,Club (country),D.O.B,Age,Height (cm),Country,Caps,International goals,Plays in home country?
0,336722,Alan PULIDO,Forward,11,Tigres UANL,Mexico,08.03.1991,23,176,Mexico,5,4,True
1,368902,Adam TAGGART,Forward,9,Newcastle United Jets FC,Australia,02.06.1993,21,172,Australia,4,3,True
2,362641,Reza GHOOCHANNEJAD,Forward,16,Charlton Athletic FC,England,20.09.1987,26,181,Iran,13,9,False
3,314197,NEYMAR,Forward,10,FC Barcelona,Spain,05.02.1992,22,175,Brazil,48,31,False
4,212306,Didier DROGBA,Forward,11,Galatasaray SK,Turkey,11.03.1978,36,180,Ivory Coast,100,61,False

In [115]:
# Check if there are any missing data
fifa_data.isnull().sum()

Player id                 0
Player                    0
Position                  0
Number                    0
Club                      0
Club (country)            0
D.O.B                     0
Age                       0
Height (cm)               0
Country                   0
Caps                      0
International goals       0
Plays in home country?    0
dtype: int64

In [116]:
# Get clubs set
club_data_unique = fifa_data["Club"].unique()
club_data_unique

array(['Tigres UANL', 'Newcastle United Jets FC', 'Charlton Athletic FC',
       'FC Barcelona', 'Galatasaray SK', 'Atletico Madrid',
       'US Citta di Palermo', 'Manchester United FC',
       'Manchester City FC', 'FC Schalke 04', 'SSC Napoli',
       'Club Santos Laguna', 'Sporting CP', 'SS Lazio', 'FSV Mainz 05',
       'Liverpool FC', 'Fluminense FC', 'FC Basel', 'SC Heerenveen',
       'Southampton FC', 'Malmo FF', 'Al Ain FC', 'GNK Dinamo Zagreb',
       'San Jose Earthquakes', 'New York Red Bulls', 'Shakhtar Donetsk',
       'Chelsea FC', 'Real Espana', 'Cerezo Osaka', 'Valencia CF',
       'Real Madrid CF', 'New England Revolution', 'FC Rubin Kazan',
       '1. FC Nuernberg', 'CA River Plate', 'AC Milan', 'Fenerbahce SK',
       'Arsenal FC', 'FC Porto', 'Watford FC', 'TSV 1860 Muenchen',
       'VfB Stuttgart', 'FC Zuerich', 'Cruz Azul FC',
       'FC Bayern Muenchen', 'Borussia Dortmund', 'Seattle Sounders FC',
       'Swansea City AFC', 'Konyaspor', 'Lille OSC', 'FC Dynamo Kyiv',
       'RCD Espanyol', 'CF Pachuca', 'Newcastle United FC',
       'FC Zenit St. Petersburg', 'Cercle Brugge', 'Real Sociedad',
       'Paris Saint-Germain FC', 'Besiktas JK', 'Atletico Mineiro',
       'Everton FC', 'Guizhou Renhe FC', 'Fulham FC', 'Al Jazira SCC',
       'Kuban Krasnodar', 'Club Tijuana', 'Sevilla FC',
       'FC Internazionale', 'FC Augsburg', 'Sunderland AFC',
       'CSD Colo-Colo', 'FC Krasnodar', 'Hannover 96', 'Sangju Sangmu FC',
       'CA Newells Old Boys', 'Olympiacos Piraeus FC', 'Parma FC',
       'Kuwait SC', 'AS Roma', 'CSKA Moscow', 'Bayer 04 Leverkusen',
       'Valenciennes FC', 'AZ Alkmaar', 'Yokohama F-Marinos',
       'PSV Eindhoven', 'ACF Fiorentina', 'FC Dynamo Moscow',
       'VfL Wolfsburg', 'Tractor Sazi Tabriz FC', 'LD Alajuelense',
       'AIK Solna', 'Villarreal CF', 'CSD Cartagines',
       'CA Monarcas Morelia', 'Tottenham Hotspur FC', 'Juventus FC',
       'NEC Nijmegen', 'AS Monaco', 'FC Lokomotiv Moscow',
       'Vitesse Arnheim', 'Al Gharafa SC', 'Club America', 'PAOK FC',
       'Stoke City FC', 'Genoa CFC', 'FC Sochaux-Montbliard',
       'SL Benfica', 'Grasshopper Club', 'Independiente Santa Fe',
       'Cagliari Calcio', 'Rosenborg BK', 'Hull City FC',
       'Borussia Moenchengladbach', 'CA San Lorenzo de Almagro',
       'Olympique Marseille', 'Udinese Calcio', 'Puebla FC',
       'Al Hilal FC', 'Toronto FC', 'Gaziantepspor', 'Celta Vigo',
       'Club Africain', 'Eintracht Braunschweig', 'FSV Frankfurt',
       'SV Zulte Waregem', 'Sporting Kansas City', 'Eintracht Frankfurt',
       'Feyenoord Rotterdam', 'Club Leon', 'Santos FC', 'AS Nancy',
       'AS Saint-Etienne', 'FC Spartak Moscow', 'Botafogo FR',
       'Bolton Wanderers FC', 'Ulsan Hyundai FC', 'Cardiff City FC',
       'Naft Tehran FC', 'FC Tokyo', 'CD Real Sociedad', 'Valerenga IF',
       'Celtic FC', 'Sao Paulo FC', 'Atlante FC', 'Toulouse FC',
       'Esteghlal Tehran FC', 'Stade Rennais FC', 'UD Las Palmas',
       'SC Internacional', 'Melbourne Victory FC', 'CD Chivas USA',
       'Wigan Athletic FC', 'West Bromwich Albion FC',
       'TSG 1899 Hoffenheim', 'Crystal Palace FC', 'Kayseri Erciyesspor',
       'FC Sion', 'CD Motagua', 'Kawasaki Frontale', 'Gamba Osaka',
       'FC Lorient', 'Aalesunds FK', 'Hertha BSC', 'Norwich City FC',
       'Perspolis FC', 'Palmeiras', 'Middlesbrough FC', 'FC Utrecht',
       'Lekhwiya SC', 'Atalanta Bergamo', 'Columbus Crew', 'FC Twente',
       'RSC Anderlecht', 'Antalyaspor AS', 'CS Herediano',
       'Club Universidad de Chile', 'Bologna FC', 'FC Girondins Bordeaux',
       'Umm Salal SC', 'Guangzhou Evergrande FC', 'Trabzonspor',
       'Deportivo Saprissa', 'Jubilo Iwata', 'SC Freiburg',
       'Nottingham Forest FC', 'Aston Villa FC', 'CD Olimpia',
       'Evian TG FC', 'FC Nantes', 'FC Kobenhavn', 'Academica Coimbra',
       'CS Emelec', 'Sepahan FC', 'Warri Wolves FC', 'Caykur Rizespor',
       'US Sassuolo', 'Real Salt Lake', 'CR Flamengo', 'Hamburger SV',
       'Houston Dynamo', 'Brisbane Roar FC', 'FC Platanias',
       'Kayserispor', 'West Ham United FC', 'Deportivo Cali', 'FC Rostov',
       'SC Bastia', 'KSC Lokeren', 'FK Borac Banja Luka',
       'Adelaide United FC', 'Levante UD', 'Hellas Verona FC',
       'CA Boca Juniors', 'Panathinaikos FC', 'Deportivo Toluca FC',
       'Sporting Braga', 'CR Vasco da Gama', 'Standard Liege',
       'BSC Young Boys', 'Calcio Catania', 'CF Monterrey',
       "Hapoel Be'er Sheva FC", 'AC Ajaccio', 'Queens Park Rangers FC',
       'Zob Ahan Isfahan FC', 'FC Anzhi Makhachkala',
       'Olympique Lyonnais', 'Getafe CF', 'Barcelona SC',
       'Suwon Bluewings FC', 'Qingdao Jonoon FC', 'Enugu Rangers FC',
       'USM Alger', 'Jeonbuk Hyundai Motors FC', 'CS Constantine',
       'Beijing Guoan', 'Orlando Pirates', 'AS Livorno', 'Granada CF',
       'CSKA Sofia', 'Urawa Red Diamonds', 'Elche CF', 'HNK Hajduk Split',
       'Kashiwa Reysol', 'CA Osasuna', 'Sanfrecce Hiroshima', 'LDU Quito',
       'Vancouver Whitecaps FC', 'Esperance Sportive de Tunis',
       'Sporting Covilha', 'Stromsgodset IF', 'RCD Mallorca',
       'CD Universidad Catolica', 'Torino FC', 'Los Angeles Galaxy',
       'FC Zorya Lugansk', 'FC Terek Grozny', 'Sewe Sport',
       'Western Sydney Wanderers FC', 'CD El Nacional', 'AFC Ajax',
       'Club Brugge KV', 'OGC Nice', 'FK Austria Wien',
       'Guangzhou R&F FC', 'Atletico Nacional', 'FC Luzern', 'Elazigspor',
       'Shandong Luneng Taishan FC', 'SK Sturm Graz', 'Fethiyespor',
       'Aduana Stars', 'Istanbul BBSK', 'Club Nacional de Football',
       'Sunshine Stars FC', 'Fortuna Duesseldorf', 'KV Waasland-Beveren',
       'FC Ashdod', 'Leicester City FC', 'Stade de Reims',
       'FK Amkar Perm', 'SC Heracles Almelo', 'Foolad Khuzestan FC',
       'Coton Sport FC', 'Stabaek IF', 'Ferencvarosi TC',
       'Swindon Town FC', 'UD Almeria', 'FC Volyn Lutsk', 'RC Lens',
       'Mamelodi Sundowns FC', 'Club Libertad', 'VfR Aalen',
       'Busan IPark FC', 'NK Lokomotiva Zagreb', 'Preston North End FC',
       'HNK Rijeka'], dtype=object)

In [117]:
# Country set, need to be a union of the two unique country fro the two fields
country_data_unique = list(
    set(fifa_data["Club (country)"].unique())
    | set(fifa_data["Country"].unique())
)
country_data_unique

['Hungary',
 'Belgium',
 'Bosnia & Herzegovina',
 'China',
 'Greece',
 'Netherlands',
 'Nigeria',
 'Algeria',
 'Columbia',
 'Spain',
 'Saudi Arabia',
 'Scotland',
 'Austria',
 'Ghana',
 'Italy',
 'Russia',
 'Cameroon',
 'Qatar',
 'Paraguay',
 'Switzerland',
 'Ivory Coast',
 'Israel',
 'Portugal',
 'Kuwait',
 'Argentina',
 'Sweden',
 'United Arab Emirates',
 'Honduras',
 'Denmark',
 'France',
 'Mexico',
 'South Korea',
 'Turkey',
 'Norway',
 'Brazil',
 'Canada',
 'Iran',
 'USA',
 'Uruguay',
 'South Africa',
 'Bulgaria',
 'Chile',
 'Tunisia',
 'Australia',
 'Costa Rica',
 'Ecuador',
 'Germany',
 'Japan',
 'England',
 'Croatia',
 'Ukraine']

In [118]:
# Club map
club_name_to_id = {name: index + 1 for index, name in enumerate(club_data_unique)}

# Create club id
fifa_data["club_id"] = fifa_data["Club"].map(club_name_to_id)

fifa_data

,Player id,Player,Position,Number,Club,Club (country),D.O.B,Age,Height (cm),Country,Caps,International goals,Plays in home country?,club_id
0,336722,Alan PULIDO,Forward,11,Tigres UANL,Mexico,08.03.1991,23,176,Mexico,5,4,True,1
1,368902,Adam TAGGART,Forward,9,Newcastle United Jets FC,Australia,02.06.1993,21,172,Australia,4,3,True,2
2,362641,Reza GHOOCHANNEJAD,Forward,16,Charlton Athletic FC,England,20.09.1987,26,181,Iran,13,9,False,3
3,314197,NEYMAR,Forward,10,FC Barcelona,Spain,05.02.1992,22,175,Brazil,48,31,False,4
4,212306,Didier DROGBA,Forward,11,Galatasaray SK,Turkey,11.03.1978,36,180,Ivory Coast,100,61,False,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731,379165,Bailey WRIGHT,Defender,8,Preston North End FC,England,28.07.1992,21,184,Australia,0,0,False,296
732,369050,Ivan MOCINIC,Midfielder,15,HNK Rijeka,Croatia,30.04.1993,21,180,Croatia,0,0,True,297
733,380000,Marcelo BROZOVIC,Midfielder,14,GNK Dinamo Zagreb,Croatia,16.11.1992,21,180,Croatia,0,0,True,23
734,380009,Luis LOPEZ,Goalkeeper,1,Real Espana,Honduras,13.09.1993,20,182,Honduras,0,0,True,28
735,379910,Adnan JANUZAJ,Midfielder,20,Manchester United FC,England,05.02.1995,19,180,Belgium,0,0,False,8

In [119]:
country_name_to_id = {name: index + 1 for index, name in enumerate(country_data_unique)}

# Club country id
fifa_data["club_country_id"] = fifa_data["Club (country)"].map(country_name_to_id)

# Player country id
fifa_data["player_country_id"] = fifa_data["Country"].map(country_name_to_id)

fifa_data.head()

,Player id,Player,Position,Number,Club,Club (country),D.O.B,Age,Height (cm),Country,Caps,International goals,Plays in home country?,club_id,club_country_id,player_country_id
0,336722,Alan PULIDO,Forward,11,Tigres UANL,Mexico,08.03.1991,23,176,Mexico,5,4,True,1,31,31
1,368902,Adam TAGGART,Forward,9,Newcastle United Jets FC,Australia,02.06.1993,21,172,Australia,4,3,True,2,44,44
2,362641,Reza GHOOCHANNEJAD,Forward,16,Charlton Athletic FC,England,20.09.1987,26,181,Iran,13,9,False,3,49,37
3,314197,NEYMAR,Forward,10,FC Barcelona,Spain,05.02.1992,22,175,Brazil,48,31,False,4,10,35
4,212306,Didier DROGBA,Forward,11,Galatasaray SK,Turkey,11.03.1978,36,180,Ivory Coast,100,61,False,5,33,21

In [120]:
country_data = pd.DataFrame(
    {
        "country_id": country_name_to_id.values(),
        "name": country_name_to_id.keys(),
    }
)

country_data.to_csv(f"{data_folder}country_node.csv", index=False)
country_data

    country_id                  name
0            1               Hungary
1            2               Belgium
2            3  Bosnia & Herzegovina
3            4                 China
4            5                Greece
5            6           Netherlands
6            7               Nigeria
7            8               Algeria
8            9              Columbia
9           10                 Spain
10          11          Saudi Arabia
11          12              Scotland
12          13               Austria
13          14                 Ghana
14          15                 Italy
15          16                Russia
16          17              Cameroon
17          18                 Qatar
18          19              Paraguay
19          20           Switzerland
20          21           Ivory Coast
21          22                Israel
22          23              Portugal
23          24                Kuwait
24          25             Argentina
25          26                Sweden
26          27  United Arab Emirates
27          28              Honduras
28          29               Denmark
29          30                France
30          31                Mexico
31          32           South Korea
32          33                Turkey
33          34                Norway
34          35                Brazil
35          36                Canada
36          37                  Iran
37          38                   USA
38          39               Uruguay
39          40          South Africa
40          41              Bulgaria
41          42                 Chile
42          43               Tunisia
43          44             Australia
44          45            Costa Rica
45          46               Ecuador
46          47               Germany
47          48                 Japan
48          49               England
49          50               Croatia
50          51               Ukraine

In [121]:
club_data = pd.DataFrame(
    {
        "club_id": club_name_to_id.values(),
        "name": club_name_to_id.keys(),
    }
)

club_data.to_csv(f"{data_folder}club_node.csv", index=False)
club_data

     club_id                      name
0          1               Tigres UANL
1          2  Newcastle United Jets FC
2          3      Charlton Athletic FC
3          4              FC Barcelona
4          5            Galatasaray SK
..       ...                       ...
292      293                 VfR Aalen
293      294            Busan IPark FC
294      295      NK Lokomotiva Zagreb
295      296      Preston North End FC
296      297                HNK Rijeka

[297 rows x 2 columns]

In [122]:
# Get the player fields
player_data = fifa_data.loc[:, ["Player id", "Player", "Position", "Number", "Age", "D.O.B", "Height (cm)", "Caps", "International goals", "Plays in home country?"]]

# Rename fields
player_data = player_data.rename(columns = {
    "Player id": "player_id",
    "Player": "name",
    "Position": "position",
    "Number": "jersey_number",
    "Age": "age",
    "D.O.B": "date_of_birth",
    "Height (cm)": "height",
    "Caps": "caps", 
    "International goals": "goals", 
    "Plays in home country?": "plays"
})

# Save player data
player_data.to_csv(f"{data_folder}player_node.csv", index=False)

player_data

,player_id,name,position,jersey_number,age,date_of_birth,height,caps,goals,plays
0,336722,Alan PULIDO,Forward,11,23,08.03.1991,176,5,4,True
1,368902,Adam TAGGART,Forward,9,21,02.06.1993,172,4,3,True
2,362641,Reza GHOOCHANNEJAD,Forward,16,26,20.09.1987,181,13,9,False
3,314197,NEYMAR,Forward,10,22,05.02.1992,175,48,31,False
4,212306,Didier DROGBA,Forward,11,36,11.03.1978,180,100,61,False
...,...,...,...,...,...,...,...,...,...,...
731,379165,Bailey WRIGHT,Defender,8,21,28.07.1992,184,0,0,False
732,369050,Ivan MOCINIC,Midfielder,15,21,30.04.1993,180,0,0,True
733,380000,Marcelo BROZOVIC,Midfielder,14,21,16.11.1992,180,0,0,True
734,380009,Luis LOPEZ,Goalkeeper,1,20,13.09.1993,182,0,0,True
735,379910,Adnan JANUZAJ,Midfielder,20,19,05.02.1995,180,0,0,False

In [123]:
# Player from relation data
from_data = fifa_data.loc[:, ["Player id", "player_country_id"]]

from_data = from_data.rename(columns = {
    "Player id": "player_id",
    "player_country_id": "country_id",
})

from_data.to_csv(f"{data_folder}rel_from.csv", index=False)
from_data

     player_id  country_id
0       336722          31
1       368902          44
2       362641          37
3       314197          35
4       212306          21
..         ...         ...
731     379165          44
732     369050          50
733     380000          50
734     380009          28
735     379910           2

[736 rows x 2 columns]

In [124]:
# Player plays_for relation data
plays_for_data = fifa_data.loc[:, ["Player id", "club_id"]]

plays_for_data = plays_for_data.rename(columns = {
    "Player id": "player_id",
})

plays_for_data.to_csv(f"{data_folder}rel_plays_for.csv", index=False)
plays_for_data

     player_id  club_id
0       336722        1
1       368902        2
2       362641        3
3       314197        4
4       212306        5
..         ...      ...
731     379165      296
732     369050      297
733     380000       23
734     380009       28
735     379910        8

[736 rows x 2 columns]

In [125]:
# Club located_in relation data
located_in_data = fifa_data.loc[:, ["club_id", "club_country_id"]]

located_in_data = located_in_data.rename(columns = {
    "club_id": "club_id",
    "club_country_id": "country_id",
})

# Unique by the club id
located_in_data = located_in_data.groupby("club_id").first().reset_index()

# Save
located_in_data.to_csv(f"{data_folder}rel_located_in.csv", index=False)

located_in_data

     club_id  country_id
0          1          31
1          2          44
2          3          49
3          4          10
4          5          33
..       ...         ...
292      293          47
293      294          32
294      295          50
295      296          49
296      297          50

[297 rows x 2 columns]